* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Gordita_light';
  src: url('assets/fonts/Gordita-Light.woff2') format('woff2'),
    url('assets/fonts/Gordita-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita_Regular';
  src: url('assets/fonts/Gordita-Regular.woff2') format('woff2'),
    url('assets/fonts/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita_bold';
  src: url('assets/fonts/Gordita-Bold.woff2') format('woff2'),
    url('assets/fonts/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita_medium';
  src: url('assets/fonts/Gordita-Medium.woff2') format('woff2'),
    url('assets/fonts/Gordita-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans_medium';
  src: url('assets/fonts/DMSans-Medium.woff2') format('woff2'),
    url('assets/fonts/DMSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans_bold';
  src: url('assets/fonts/DMSans-Bold.woff2') format('woff2'),
    url('assets/fonts/DMSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans_regular';
  src: url('assets/fonts/DMSans-Regular.woff2') format('woff2'),
    url('assets/fonts/DMSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.popup-content {
  width: 100% !important;
}

.slick-next {
  right: 21% !important;
  background: #282c34 !important;
  border-radius: 50% !important;
}

.slick-prev {}

.slick-prev:before {
  content: '' !important;
}

@media all and (max-width: 980px) {
  .slick-next {
    right: 6% !important;
  }
}
@media all and (max-width: 640px) {
  .slick-next {
    right: 1% !important;
    top:55% !important;
  }
}